@charset "utf-8";
/* CSS Document */

h1{height:56px;}
span.songh{font-size:18px; line-height:56px; color:#898985; font-weight:normal; font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
h1 a{font-size:12px; margin-left:12px; margin-top:16px; font-weight:normal;}

/*.song-lbox*/
.song-lbox{width:796px;}

/*.song-rbox*/
.song-rbox{width:194px;}

/*.topflash=*/
.topflash{width:796px; height:236px;}
/*.topflash-con==*/
.topflash-con{width:542px; height:228px; background:url(../../fontimg/common/topflash-bg.jpg) no-repeat center top; padding-top:8px; position:relative;}
.topflash-hd{width:122px; height:17px; padding-top:3px; position:absolute; bottom:35px; left:220px;}
.topflash-hd ul li{float:left; width:11px; height:13px; background:url(../../fontimg/common/smalldot.png) no-repeat; text-indent:-9999px; margin-left:8px; cursor:pointer;}
.topflash-hd ul li img{width:246px; height:189px;}
.topflash-hd ul li.on{background:url(../../fontimg/common/smalldoter.png) no-repeat;}
.topflash-hd span{width:9px; height:14px; cursor:pointer;}
.topflash-hd span.prev{background:url(../../fontimg/common/small-l.png) no-repeat;}
.topflash-hd span.next{ margin-left:8px; background:url(../../fontimg/common/small-r.png) no-repeat;}
.topflash-bd{width:522px; height:202px; margin:0 auto;}
.topflash-bd li img{width:522px; height:202px;}

.channel-nte{width:232px; height:195px; margin:0 auto; padding:15px 10px 10px 10px; border:1px solid #d9d9d9; border-left:none;background:#eeeeee;}
.channel-nte h2{width:232px;height:28px; background-position:0 -458px; text-indent:24px; color:#636363;}
.channel-nte h2 span{font-size:14px; font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
p.nte-des{line-height:24px; margin-top:10px;text-indent:24px;}
.nte-list{margin-top:6px;}
.nte-list li{width:232px; height:24px; line-height:24px; overflow:hidden; text-indent:18px;}
.nte-list li a{display:block;background-position:4px -414px;}
.nte-list li a:hover{display:block;color:#ff0099;background-position:4px -432px;}

/*.satebox=*/
.satebox{width:794px; padding-bottom:20px; border:1px solid #e0e0e0; border-bottom:none;}
.satebox-btm{width:796px; height:34px; background:#093 url(../../fontimg/common/satebox-btm.jpg) no-repeat center top;}
/*.satetab==*/
.satetab{height:55px; _padding-bottom:15px; background:#eee; border-bottom:1px solid #e0e0e0;}
.satetab dl{ margin-top:15px; margin-left:30px; _display:inline;}
.satetab dl dt{float:left; line-height:24px;}
.satetab dl dd{float:left; width:56px; height:24px; line-height:22px; border:1px solid #d9d9d9; background:#fff; text-align:center; margin-left:14px; _display:inline;}
.satetab dl dd a{display:block;}
.satetab dl dd.on{border:1px solid #b7b7b7; border-top:1px solid #8f8f8f; border-bottom:none;background:#ccc;}
/*.anchor-con==*/
.anchor-con{width:780px;}
.anchor-con li{width:184px; height:168px; margin:6px 11px 14px 0; _margin-right:9px;}
.chorname,p.time{width:186px;}
.anchor-head{width:174px; height:113px;}

.anchor-head img{width:174px; height:113px;}
.playing,.readying{width:166px; _bottom:8px;}
.nambtm{width:110px;}

/*.rankbox*/
.rankbox{width:194px; border:1px solid #d9d9d9;}
.rankbox h4{height:35px; line-height:35px;}
.rankbox h4 span{font-size:14px; padding-left:4px;}
.start-tab{color:#666666; font-weight:normal; margin-top:10px; padding-left:15px;}
.start-tab a,.start-tab em{float:left;height:17px; line-height:16px; text-align:center;}
.start-tab em{width:5px;}
.start-tab a{width:37px;}
.start-tab a:hover,.start-tab a.starttabover{background:#ff0099; color:#fff;}
.conbox{width:170px; margin:0 auto; margin-top:20px;}
.rankcon-list li{ margin-bottom:6px;}
.rankcon-list li a{display:block; padding-left:4px; padding-right:4px; width:106px; height:40px; line-height:26px;}
em.top2{background-position:-66px -755px; color:#fff;}
.rankbox .more{ margin-left:102px; _display:inline;}

/*.rlist-btm*/
.rlist-btm{width:174px; height:114px; padding-left:10px; padding-right:10px; background:url(../../fontimg/common/rightcon-btm-bg.jpg) no-repeat;}
.rlist-btm h2{width:174px; height:32px; line-height:32px; font-weight:normal;}
.rbtm-con{width:108px; margin-left:6px; _display:inline;}
.rbtm-pic img{width:60px; height:60px;}

/*.conbox-list*/
.conbox-list{height:65px; margin-top:12px;}
.conbox-list dt,.conbox-list dd{float:left;height:65px; overflow:hidden; color:#999999;}
.conbox-list dt img{width:65px; height:65px;}
.conbox-list dt{width:65px; margin-right:10px; position:relative;}
dt .attent{position:absolute; bottom:0; right:0; display:none;}
.conbox-list dd{width:94px;}
.conbox-list dd .name{display:inline-block; width:98px; font-size:14px; height:30px; line-height:30px;}

/*.rankconpic-list*/
.rankconpic-list{ margin-top:10px;}
.rankconpic-list li{height:50px; margin-bottom:5px;}
.rank-pic{ margin-left:8px; margin-right:8px; _display:inline;}
.rank-pic img{width:39px; height:40px;}
.rank-text{width:98px;}
.rank-text a{display:block; font-size:14px; width:98px; height:24px; line-height:24px;}














