body{ background:url(../../fontimg/other/bj-repeat.jpg) repeat;}
.kong{ background:url(../../fontimg/other/p1.jpg) no-repeat center top; height:826px;}
.qd{ position:absolute; top:260px; left:285px; color:#FFF; font-size:24px; font-family:'微软雅黑';}